* {
    box-sizing: border-box;
}

body {
    margin: 50px;
}

.item {
    display: flex;
    border: 2px solid black;
    border-radius: 5px;
    padding: 0px;
    opacity: 1;
}

.container-flex {
    display: flex;
    flex-wrap: wrap;
    padding: 2px;
}

.container-unsplayed {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(2, 100px);
    padding: 2px;
}

.blue {
    background-color: #92a8d1;
}

.red {
    background-color: #eea29a;
}

.green {
    background-color: #b5e7a0;
}

.purple {
    background-color: #b19cd9;
}

.yellow {
    background-color: #ffef96;
}

.card-inner {
    display: grid;
    grid-template-columns: repeat(8, 100px);
    grid-template-rows: repeat(8, 100px);
}

.symbol {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.symbol1 {
    grid-column: 1 / 1;
    grid-row: 1 / 1;
}

.symbol4 {
    grid-column: 1 / 1;
    grid-row: 2 / 2;
}

.symbol5 {
    grid-column: 2 / 2;
    grid-row: 2 / 2;
}

.symbol6 {
    grid-column: 3 / 3;
    grid-row: 2 / 2;
}

.card-text {
    grid-column: 2 / 4;
    grid-row: 1 / 1;
    padding-top: 2px;
}

.card-title {
    font-size: 100%;
    font-family: sans-serif;
    font-weight: bold;
}

.card-name {
    font-size: 100%;
    font-family: sans-serif;
    font-weight: bold;
}

.card-age {
    font-size: 100%;
    font-family: sans-serif;
    font-weight: bold;
    float: right;
    margin-right: 6px;
    text-align: center;
    display: block;
    width: 20px;
}

.dogma {
    font-size: 80%;
    font-family: sans-serif;
}
